@import 'vars';
@import 'typography';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}

figure {
  display: inline-block;
  margin: 0px;
}

img.tile {
  max-height: 100%;
  max-width: 100%;  
}