<style>
  .flex-container{
    display: flex;
    justify-content: center;
  }
  .flex-item{
    padding: 5px;
    margin: 10px;
  }
  h1{
  text-align: center;
  }
  .author{
    color: black;
  }
  p{
    text-align: center;
    color: white;
    font-weight: lighter;
  }
  .boxed {
    border: 1px solid white ;
    padding: 15px;
  }

</style>
<div class = "flex-container">
 <div class="flex-item">
   <p><image src={{details.photo.image_url}}/></p>
 </div>
 <div class="flex-item">
   <h1>{{details.photo.name}}</h1>
   <p class="author">{{details.photo.user.fullname}}</p>
   <p class="boxed" ng-bind-html="details.photo.description | parseUrlFilter"></p>
 </div>
</div>
