<style>
  .flex-container{
    display: flex;
    justify-content: center;
  }
  .flex-item{
    padding: 5px;
    margin: 10px;
  }

  p{
    text-align: left;
    color: black;
  }

</style>
<div class = "flex-container">
 <div class="flex-item">
   <p><image src={{details.photo.image_url}}/></p>
 </div>
 <div class="flex-item">
   <h1>{{details.photo.name}} - {{details.photo.rating}}</h1>
   <p>{{details.photo.description}}</p>
   <br>
   <p>{{details.photo.user.firstname}} {{details.photo.user.lastname}}</p>
   <p>{{details.photo.user.city}}, {{details.photo.user.country}}</p>

   <p ng-repeat="(key, value) in details.photo|filter: details.filter">{{key}}</p>
 </div>
</div>
